apiVersion: clickhouse.com/v1alpha1
kind: KeeperCluster
metadata:
  name: sample
spec:
  replicas: 3
  dataVolumeClaimSpec:
    resources:
      requests:
        storage: 1Gi
---
apiVersion: clickhouse.com/v1alpha1
kind: ClickHouseCluster
metadata:
  name: sample
spec:
  replicas: 2
  dataVolumeClaimSpec:
    resources:
      requests:
        storage: 2Gi
  keeperClusterRef:
    name: sample
  settings:
    extraUsersConfig:
      users:
        reader:
          # sha256 of "secret_password"
          password_sha256_hex: "8e67dd1355714239acde098b6f1cf906bde45be6db826dc2caca7536e07ae844"
          profile: default
          grants:
            - query: "GRANT SELECT ON *.*"
